#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO

        my_email: my_email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &kp R &kp O &kp D &kp R &kp I &kp Q &kp U &kp E &kp Z &kp N0 &kp N4 &kp N0 &kp N7 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "my_email";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        arrow_func: arrow_func {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GREATER_THAN>;
            label = "ARROW_FUNC";
        };

        #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL          &kp N1     &kp N2          &kp N3              &kp N4            &kp N5          &tog 1                                                                                   &mo 3              &kp N6           &kp N7             &kp N8               &kp N9           &kp N0              &kp MINUS
&kp TAB            &kp Q      &kp W           &kp E               &kp R             &kp T           &none                                                                                    &none              &kp Y            &kp U              &kp I                &kp O            &kp P               &kp BSLH
&kp ESC            &kp A      &hm LEFT_ALT S  &hm LEFT_CONTROL D  &hm LEFT_SHIFT F  &hm LEFT_GUI G  &kp LC(LG(LEFT_ARROW))  &kp LCTRL        &kp LALT      &kp LGUI   &kp RCTRL              &kp LC(LG(RIGHT))  &hm RIGHT_GUI H  &hm RIGHT_SHIFT J  &hm RIGHT_CONTROL K  &hm RIGHT_ALT L  &hm RIGHT_GUI SEMI  &kp SQT
&kp UNDERSCORE     &kp Z      &kp X           &kp C               &kp V             &kp B                                                    &kp HOME      &none                                                &kp N            &kp M              &kp COMMA            &kp DOT          &kp FSLH            &kp EQUAL
&kp LC(BACKSPACE)  &kp GRAVE  &none           &kp LEFT_BRACKET    &kp LEFT_BRACE                    &hold_tap 2 ENTER       &hold_tap 2 DEL  &kp END       &kp LC(S)  &hold_tap 4 BACKSPACE  &hold_tap 4 SPACE                   &kp RIGHT_BRACE    &kp RIGHT_BRACKET    &none            &none               &mo 2
            >;
        };

        keypad {
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                    &none      &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &trans     &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            bindings = <
&kp F1     &kp F2          &kp F3        &kp F4            &kp F5             &kp F6      &tog 1                                      &mo 3      &kp F7        &kp F8    &kp F9        &kp F10       &kp F11       &kp F12
&trans     &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4       &kp N5      &none                                       &none      &kp NUMBER_6  &kp N7    &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&kp POUND  &kp C_PREVIOUS  &none         &kp K_PLAY_PAUSE  &kp C_VOLUME_UP    &kp C_NEXT  &none   &trans  &trans      &trans  &trans  &my_email  &kp LEFT      &kp DOWN  &kp UP_ARROW  &kp RIGHT     &trans        &trans
&trans     &trans          &trans        &kp C_PAUSE       &kp C_VOLUME_DOWN  &trans                      &trans      &trans                     &trans        &trans    &trans        &trans        &trans        &trans
&trans     &trans          &trans        &trans            &kp K_MUTE                     &trans  &trans  &trans      &trans  &trans  &trans                   &trans    &trans        &trans        &trans        &trans
            >;
        };

        mod {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans                  &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &bootloader                                            &bootloader             &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &rgb_ug RGB_MEFS_CMD 5  &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none                             &none      &none                                           &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG                &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        Symbol_Default {
            bindings = <
&trans     &none          &trans            &trans             &trans          &trans           &trans                                      &trans  &trans         &trans     &trans         &trans                &trans                 &trans
&kp GRAVE  &kp EXCL       &kp AT            &kp POUND          &kp DOLLAR      &kp PERCENT      &trans                                      &trans  &kp CARET      &kp AMPS   &kp ASTRK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE
&kp TILDE  &trans         &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &none   &trans  &trans      &trans  &trans  &trans  &kp MINUS      &kp PLUS   &kp EQUAL      &arrow_func           &kp COLON              &kp DOUBLE_QUOTES
&trans     &kp BACKSLASH  &trans            &trans             &kp TAB         &kp DELETE                       &trans      &trans                  &kp BACKSPACE  &kp SPACE  &kp LESS_THAN  &kp GREATER_THAN      &kp QUESTION           &kp EQUAL
&trans     &trans         &trans            &trans             &trans                           &trans  &trans  &trans      &trans  &trans  &trans                 &trans     &trans         &trans                &trans                 &trans
            >;
        };
    };
};
